label { width:300px; float:left; text-align:right; }
select { width:200px; float:left; text-align:right; }
#submit { width:55px; margin-left:150px; margin-top:10px; }
#content h2 { margin-left:-80px; }